body {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.navigation {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #999;
  position: fixed;
  background: #fff;
}

.main-content {
  display: flex;
  padding: 20px 50px;
  height: auto;
}

.left-column {
  width: 70%;
  margin-top: 65px;
}

.right-column {
  <<<<<<< HEAD margin-top: 65px;
  width: 30%;
  margin-left: 20px;
}

.menu img {
  height: 20px;
  width: 20px;
}

.logo img {
  width: 100px;
  height: 20px;
  margin-left: 35px;
}

.nav-brand {
  width: 20%;
  float: left;
}

.nav-search {
  width: 60%;
  text-align: center;
  float: left;
}

.nav-thumbnails {
  width: 20%;
  float: left;
}

.nav-brand ul li {
  display: inline;
}

.nav-search ul {
  width: 100%;
}

.nav-search ul li {
  display: inline-block;
  background: green;
  margin: 0;
}

.nav-search ul input {
  width: 500px;
  padding: 10px;
}

.nav-search ul i {
  padding: 10px;
}

.nav-thumbnails ul li {
  display: inline-block;
  margin: 0 10px;
  color: #000;
}

.video-box {
  width: 100%;
}

.video-details {
  display: flex;
  border-bottom: 1px solid #999;
}

.video-views {
  width: 60%;
}

.video-metadata {
  width: 40%;
}

.video-metadata ul li {
  display: inline-block;
  margin: 10px;
}

span {
  padding: 10px;
}

.video-details .video-metadata a:hover {
  border-bottom: 2px solid #999;
  color: red !important;
}

.video-middle-content {
  border-bottom: 1px solid #999;
}

.video-publisher ul li {
  display: inline-block;
  margin: 10px;
}

.video-post {
  display: flex;
  margin: 20px auto;
}

.video-post .video-thumbnail {
  float: left;
  width: 10%;
}

.video-post .video-publisher {
  width: 70%;
  padding: 0 5px;
}

.video-post .subscribe-btn {
  width: 20%;
}

.video-post .subscribe-btn input {
  background: red;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.last-content {
  margin: 20px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.right_ads img{
    height: 250px;
    width: 250px;
    margin-top: 63px;
}

.right_autoplay {

}
.right_autoplay ul li {
  display: inline-block;
}
.right_thumbs_videos{
  width: 100%;
}

.right_thumbs_videos ul li {
    margin-top: 30px;
}
.right_thumbs_videos ul li a img {
  height: 110px;
  width: 50%;
  margin-left: -36px
}

.thumbs_intro {
  width: 50%;
  height: 110px;
  margin-top: -30px;
}